In [108]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [38]:
rA=requests.get('https://www.amazon.in/adidas-Originals-Superstar-Sneakers-10-CM8077/dp/B07B4J8J57/ref=sr_1_16?s=shoes&ie=UTF8&qid=1530363919&sr=1-16&keywords=adidas+original')

In [44]:
#Amazon Adidas Superstar White

amz=rA.content
amazon=BeautifulSoup(amz,"lxml")
am_price=amazon.find("span",id='priceblock_ourprice')
k=am_price.text
print(am_price.text)

   7,999.00

In [50]:
#Flipkart Adidas Superstar White

rf=requests.get('https://www.flipkart.com/adidas-originals-superstar-sneakers-men/p/itmf3xxknxh8nqug?pid=SHOFFF6TPZYUPZTR&lid=LSTSHOFFF6TPZYUPZTRRW44ZK&marketplace=FLIPKART&srno=s_1_3&otracker=search&fm=SEARCH&iid=c17659bd-0e13-4f37-bb9e-30ba67475fd2.SHOFFF6TPZYUPZTR.SEARCH&ppt=Search%20Page&ppn=Search&ssid=wej4xobzcg0000001530364041798&qH=7b40c9e3904f2626')
flp=rf.content
flipkart=BeautifulSoup(flp,'lxml')
fl_price=flipkart.body.find('div',attrs={'class':'_1vC4OE _3qQ9m1'})

l=fl_price.text

In [41]:
print(fl_price.text)

₹7,599

In [60]:
#jobong Adidas Superstar White

rj=requests.get('https://www.jabong.com/adidas-originals-Superstar-White-Sneakers-300741401.html?pos=4&cid=AD761SH24UESINDFAS')
jb=rj.content
jobong=BeautifulSoup(jb,'lxml')
jb_price=jobong.find("span",itemprop='price')
q=jb_price.text

In [94]:
print(jb_price.text)
o=[k,l,q]
cheapest=sorted(o)
print(cheapest)
k=cheapest[0]
o.append(k)

7599
['7599', '7599', '₹7,599']

In [98]:
df=pd.DataFrame(o,['Amazon','Flipkart','jobong','Cheapest'])

In [96]:
df

               0
Amazon      7599
Flipkart  ₹7,599
jobong      7599
Cheapest    7599